<!DOCTYPE html>
<html>
  <head>
  <title><%= yield(:title) %>シェアグレス</title>
  <%= render 'layouts/head' %>
  </head>

  <body>
  <%#= render 'layouts/header' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  <%#= render 'layouts/footer' %>
  </body>
</html>
